<div class="container">
    <div id="farm">
        <h3>Farm</h3>
        <h5>Earns 2-5 gold!</h5>
        <button (click)='buildingClicked(2,5,"Farm")'>Farm</button>
    </div>
    <div id="cave">
        <h3>Cave</h3>
        <h5>Earns 5-10 gold!</h5>
        <button (click)='buildingClicked(5,10,"Cave")'>Cave</button>

    </div>
    <div id="casino">
        <h3>Casino</h3>
        <h5>Earn or lose up to 100 gold!</h5>
        <button (click)='buildingClicked(-100,100,"Casino")'>Cave</button>

    </div>
    <div id="house">
        <h3>House</h3>
        <h5>Earns 7-15 gold!</h5>
        <button (click)='buildingClicked(7,15,"House")'>Cave</button>

    </div>

</div>

